{
    "plugins": ["@babel/plugin-syntax-jsx"],
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", {"runtime": "automatic"}]
      ],
    "env": {
      "test": {
        "plugins": [
          "@babel/plugin-transform-modules-commonjs",
          ["babel-plugin-transform-import-meta", {"module": "ES6"}],
          ["babel-plugin-transform-vite-meta-env"]

        ]
      },
      "production": {
        "plugins": [
          "react-remove-properties"
        ]
      }
    }
}