html, body {
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}

input[disabled] {
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
    -webkit-text-fill-color: #000000;
    -webkit-opacity:1
}